* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: #282a3a;
  width: 100vw;
  overflow-x: hidden;
}

.out-ul {
  position: relative;
  display: flex;
  transition: all ease 220ms;
}

.out-li {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
  position: relative;
}

.introduce-box {
  background: -webkit-linear-gradient(120deg, #FFCC70 0%, #80D0C7);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  user-select: none;
  /* animation: introduceTextAnimation ease-in-out 220ms infinite; */
}

/* @keyframes introduceTextAnimation {
  0% {
    background: -webkit-linear-gradient(120deg, #4158D0 0%, #C850C0 46%, #FFCC70);
  }

  50% {
    background: -webkit-linear-gradient(120deg, #FFCC70 0%, #80D0C7);
  }

  100% {
    background: -webkit-linear-gradient(120deg, #80D0C7 0%, #4158D0);
  }
} */
